<nav>
  <div class="nav-wrapper">
    <a href="/blog/owner/posts" class="brand-logo">PK's Blog</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/blog/owner/posts/new">New Post</a></li>
      <li><a href="/blog/owner/posts/logout">Logout</a></li>
    </ul>
  </div>
</nav>
