<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">PK's Blog</a>
      </div>
    </nav>
    <div class="row">
      <form
        action="/blog/owner/login"
        class="col s12"
        id="owner-login-form"
        method="post"
      >
        <div class="row">
          <div class="input-field col s6">
            <input type="text" name="username" id="username" required />
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input type="password" name="password" id="password" required />
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <button type="submit" class="btn waves-effect blue darken-2">
            Login
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
