* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

nav > .nav-wrapper > .brand-logo {
  padding-left: 1rem;
}

#owner-login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

#owner-login-form > div > .input-field {
  width: unset;
}

#owner-login-form > div {
  margin-bottom: unset;
}

#post-filter-row {
  margin-top: 1rem;
}

#post-editor {
  margin-top: 1rem;
}

.collection>li{
  padding: 0px 0px 10px 10px
}

#nav-tabs{
  padding: 0;
}
